VITE_DALILAK_SUPABASE_URL=https://xdqpbajymacpdccorjcj.supabase.co
VITE_DALILAK_SUPABASE_ANON_KEY=sb_publishable_VJ8y1c53by7_sEn90hy8Pw_vO_K_b2x
VITE_ECOSYSTEM_SUPABASE_URL=https://hzlbbzxccqfdeyumtxph.supabase.co
VITE_ECOSYSTEM_SUPABASE_ANON_KEY=sb_publishable_wCaOboe9oyYsBZ4utP89jA_rAwHIbc9
VITE_GEMINI_API_KEY=
